img {
    margin-left: auto;
    margin-right: auto;
    display: block;

    // This allows downscaling but not upscaling.
    width: auto;
    height: auto;
    max-width: 100%;
}
pre {
    white-space: pre-wrap;
}
.main-content .release h2 {
    margin-top: 2em;
}
.filters {
    text-align: center;
}
.filters-inset {
    display: inline-block;
    // background-color: #EEE;
    border: 1px solid #CCC;
    label {
        margin: 0 1em;
        white-space: nowrap;
    }
}
li.change {
    display: none;
}
li.change.shown {
    display: list-item
}

div.category {
    display: none;
}
div.category.shown {
    display: block;
}

div.release {
    display: none;
}
div.release.shown {
    display: block;
}

@media print {
    .filters {
        display: none;
    }
}

.warning {
    border: 2px solid #feb308;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    &::before {
        content: 'Warning: ';
        font-weight: bold;
    }
}

.important {
    border: 2px solid #feb308;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    &::before {
        content: 'Important: ';
        font-weight: bold;
    }
}
